* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #ffd700;
}

body::-webkit-scrollbar-thumb {
  background: #504400;
  border-radius: 99px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 234, 0);
}
